mixin navbar()
    div.nav.navabar.navbar-expand.navbar-light.bg-light
        a(href="/", aria-label="Perseus").navbar-brand.mr-0
        div.mr-md-2
            img.circc(src="/images/0.svg", width="50", height="50")
        div.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
                li.nav-item
                    a.nav-link(href="/") Home
                li.nav-item
                    a.nav-link(href="/leads") Leads
                    
    br
    br                    